@font-face {
    font-family: "Adelle Cyrillic";
    src: url("../fonts/Adelle Cyrillic Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Proxima Nova Regular";
    src: url("../fonts/Proxima Nova Regular.otf") format("opentype");
    font-style: normal;
    font-weight: normal;
}
body{
    font-family: "ProximaNova Regular";
}
.header h2, .header span, span{
    color: #FFBC3A;
}
.uk-navbar-container:not(.uk-navbar-transparent){
    background: none!important;
}
#search{
    background: none!important;
    border: 1px solid #FFBC3A;
}
.goods_cards img{
    border: 1px solid black;
    height: 60px;
    width: 180px;
}
.black{
    background-color: black;
    color: #FFBC3A;
}
.uk-navbar-right a{
    color: #FFBC3A;
}
.mainContent{
    background-image: url(../img/png/bg_pattern.png);
}
#first_scroll, #second_scroll, #third_scroll{
    border: 1px solid #FFBC3A;
}
.uk-panel-scrollable{
    resize: none!important;
    padding: 0!important;
}
.discussing_scroll span{
    height: 20px;
}
.table_with_goods img{
    border: 1px solid #2C2C2C;
    height: 50px;
    padding: 2px;
}
#label{
    background-color: #FFBC3A;
    color: #2C2C2C!important;
}
.uk-overlay p{
    color: #f6f6f6;
}
.footer-scroll{
    background-color: black;
    height: 50px;
}
.footer-scroll button{
    background-color: #FFBC3A;
    border: 1px solid #FFBC3A;;
}
.footer{
    background: #2C2C2C;
    height: 150px;
}
.footer h1{
    color: #FFBC3A;
}

