@font-face {
    font-family: "Adelle Cyrillic";
    src: url("../fonts/Adelle Cyrillic Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Proxima Nova Regular";
    src: url("../fonts/Proxima Nova Regular.otf") format("opentype");
    font-style: normal;
    font-weight: normal;
}
body{
    font-family: "Proxima Nova Regular";
}
.header{
    background: url("../img/01.jpg") no-repeat;
    background-size: cover;

}
.header .search{
    border-left: 1px solid #FFBC3A;
}
.header h2, .header span, span{
    color: #FFBC3A;
}
.uk-navbar-container:not(.uk-navbar-transparent){
    background: none!important;
}
#search{
    background: none!important;
    border: 1px solid #FFBC3A;
}
.goods_cards img{
    border: 1px solid black;
    height: 60px;
    width: 180px;
}
.black{
    background-color: black;
    color: #FFBC3A;
}
.uk-navbar-right a{
    color: #FFBC3A;
}
.wrapper{
    background-image: url(../img/png/bg_pattern.png);
}
#first_scroll, #second_scroll, .wrapper-scroll{
    border: 2px solid #FFBC3A;
    background-color: white;
}
.uk-panel-scrollable{
    resize: none!important;
    padding: 0!important;
}
.discussing_scroll span{
    height: 20px;
}
.table_with_goods img{
    border: 1px solid #2C2C2C;
    height: 50px;
    padding: 2px;
}
#footer_scroll button{
    color: black;
    box-shadow: 10px 9px 5px -6px #2C2C2C;
}
#label{
    width: 70px;
    height: 35px;
    box-shadow: 10px 9px 5px -6px #2C2C2C;
    padding: 10px 35px 10px 35px;
}
#labelNews, #labelTours{
    padding: 10px 35px 4px 35px;
    box-shadow: 10px 9px 5px -6px #2C2C2C;
}
#labelReload{
    padding: 10px 45px 5px 35px;
    box-shadow: 10px 9px 5px -6px #2C2C2C;
}
#scroll_label, #label, #labelNews, #labelReload, #labelTours{
    background-color: #FFBC3A;
    color: #2C2C2C!important;
}
#second_scroll span{
    color: black;
}
#second_scroll #label, #first_scroll #label {
    box-shadow: none;
    border-radius: 2px;
}
.uk-overlay p{
    color: #f6f6f6;
}
.footer-scroll{
    background-color: #2C2C2C;
    height: 27px;
}
.footer-scroll button{
    background-color: #FFBC3A;
    border: 1px solid #FFBC3A;;
}
.footer{
    background: #2C2C2C;
    height: 230px;
}
.footer h1{
    color: #FFBC3A;
}

